

@{
    ViewBag.Title = "Liste";
    Layout = "~/Views/Shared/_LayoutCalisan.cshtml";

    @model BitkiTakipSystemMVC.Models.jobStatusModel 


}

<div class="container mt-5">
    @foreach (var j in Model.jobstatusList)
    {
        <div class="card">
            <div class="card-header bg-black text-center text-white">
                @j.workName
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">@j.workAciklama</li>
                    <li class="list-group-item">İletilen Tarih : @j.iletilenTarih</li>
                    <li class="list-group-item">Yapılan Tarih : @j.yapilanTarih</li>
                    <li class="list-group-item">Durum : @j.workprogressAd</li>
                </ul>
            </div>
        </div>
        <br/>
    }
</div>


